
<div id="root">
    <div class="min-h-screen bg-gray-50">
        <header class="bg-white shadow-sm border-b border-gray-200">
            <div class="px-6 py-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-4">
                        <a href="/members">
                        <button class="w-10 h-10 flex items-center justify-center hover:bg-gray-100 rounded-lg transition-colors cursor-pointer"><i class="ri-arrow-left-line text-xl text-gray-700"></i></button>
                        </a>
                        <div>
                            <h1 class="text-xl font-bold text-gray-900">Nuevo miembro</h1>
                            <p class="text-sm text-gray-600">Base de datos de socios
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <%= form_with model: @member do |f| %>
          <div class="p-6">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="md:col-span-2" >
              <label class="block text-sm font-medium text-gray-700 mb-1">NIF</label>
              <p class="text-base text-gray-900"> <%= f.text_field :document_number %> </p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
              <p class="text-base text-gray-900"> <%= f.text_field :first_name %> </p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Apellidos</label>
              <p class="text-base text-gray-900"><%= f.text_field :surnames %></p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Nombre de usuario</label>
              <p class="text-base text-gray-900"> <%= f.text_field :user_name %> </p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
              <p class="text-base text-gray-900"><%= f.text_field :password %></p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Número</label>
              <p class="text-base text-gray-900"><%= f.text_field :number %></p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Fecha de Nacimiento</label>
              <p class="text-base text-gray-900"><%= f.text_field :birth_date %></p>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-1">Teléfono</label>
              <p class="text-base text-gray-900"><%= f.text_field :phone %></p>
            </div>

            <div class="md:col-span-2">
              <label class="block text-sm font-medium text-gray-700 mb-1">Correo Electrónico</label>
              <p class="text-base text-gray-900"><%= f.text_field :email %></p>
            </div>
            <div class="">
              <label class="block text-sm font-medium text-gray-700 mb-1">Dirección</label>
              <p class="text-base text-gray-900"><%= f.text_field :address %></p>
            </div>
            <div class="">
              <label class="block text-sm font-medium text-gray-700 mb-1">Código Postal</label>
              <p class="text-base text-gray-900"><%= f.text_field :zip_code %></p>
            </div>
            <div class="">
              <label class="block text-sm font-medium text-gray-700 mb-1">Poblacion</label>
              <p class="text-base text-gray-900"><%= f.text_field :city %></p>
            </div>
            <div class="">
              <label class="block text-sm font-medium text-gray-700 mb-1">Fecha de nacimiento</label>
              <p class="text-base text-gray-900"><%= f.text_field :birth_date %></p>
            </div>
          </div>
          <div class="mt-6 flex space-x-3">
            <button class="flex-1 bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg font-medium transition-colors whitespace-nowrap cursor-pointer"><i class="ri-edit-line mr-2"></i>Crear</button>
          </div>
        <%end%>
      </div>
    </div>
</div>
